header{
    width: 100%;
    background-color: aquamarine;
    height: 64px;
    margin-top: 0;
    
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    padding: 15px;
}